.send-application__contacts {
    margin-bottom: 20px;
}
.send-application {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include md-d {
        flex-direction: column;
    }
    // &__contacts {
    // }
    
    &__ttl {
        font-size: 36px;
        color: $black;
        @include sliderCartFont;
        margin-bottom: 26px;
    }
}
.social-media {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.participant-cost__item-ttl, .participant-cost__item-cost {
    @include sm-d {
        font-size: 18px;
        width: 232px;
    }
}
.send-application {
    &__form {
        width: 564px;
        position: relative;
        @include sm-d {
            width: 275px;
        }
    }
    &__user-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
        @include md-d {
            flex-direction: column;
        }
    }
    &__label {
        position: relative
    }
    &__input-ttl {
        @include basicFont;
        font-size: 14px;
        color: $black;
        margin-bottom: 16px;
    }
    &__input {
        border: 0px;
        outline: none;
        width: 260px;
        padding-bottom: 16px;
        border-bottom: 1px solid black;
    }
}
.counter {
    &__btns {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.minus {
}
.plus {
}

.send-application {
    &__rate-radiobtns {
        margin-bottom: 38px;
    }
}
.service {
    &__label {
        width: 564px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__input {
        display: none;
    }
}
.service__input:checked + .fake-checkbox::before {
    opacity: 1;
}
.fake-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid $green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fake-checkbox::before {
    content: ' ';
    opacity: 0;
    transition: .35s;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $green;
}
.service-cost {
    &__item {
        border: 0px;
        width: 540px;
        margin: 0;
        padding: 0;
    }
    &__item-ttl,
    &__item-cost {
        font-family: "Lato";
        font-weight: 400;
        font-size: 20px;
        color: #212121;
    }

    &__item-cost {
        font-size: 24px;
    }
}
.choose-date__input {
    margin-bottom: 34px;
    background-color: inherit;
}
.send-application__wishes-input {
    width: 564px;
    margin-bottom: 47px;
    background-color: inherit;
}
.send-application__form-btn {
    background-color: #F47648;
    border: 0px;
    height: 40px;
    @include basicFont;
    color: #fff;
    border-radius: .333rem;
    padding: 8px 32px;
    position: absolute;
    right: 0;
}

//order book-block

.order-book {
    height: 883px;
    margin-top: -202px;
    position: relative;
    z-index: -1;
    background: linear-gradient(184.22deg, #FFFFFF 1.79%, rgba(255, 255, 255, 0.572235) 18.33%, rgba(255, 255, 255, 0) 51.96%), url(/src/images/orderbookbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 120px;
    @include sm-d {
        margin-top: -104px;
    } 
}
.order-book__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 74px;
    @include md-d {
        // flex-direction: column;
        flex-wrap: wrap;
    }
}
.tutorial-book {
    margin-right: 95px;
    &__ttl {
        color: #fff;
        @include sliderCartFont;
        font-size: 36px;
        margin-bottom: 8px;
        @include lg-d {
            width: 478px;
        }
        @include sm-d {
            width: 275px;
        }
    }
    &__subttl {
        color: #fff;
        @include basicFont;
        font-size: 20px;
        margin-bottom: 32px;
    }
    &__input-label {
        width: 720px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include lg-d {
            width: 487px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 105px;
        }
        @include sm-d {
            width: 275px;
        }
    }
    &__input {
        width: 563px;
        background-color: inherit;
        @include lg-d {
            width: 487px;
        }
        @include sm-d {
            width: 275px;
        }
    }
}
.send-application {

    &__input {
        border-color: #fff;
    }

    &__form-btn {
        position: relative;
    }
}

//about us block

.about-us {
    position: relative;
    margin-bottom: 234px;
    height: 993px;
    @include md-d {
        margin-bottom: 48px;
    }
    &__ttl {
        width: 960px;
        @include sliderCartFont;
        font-size: 64px;
        color: $black;
        margin-bottom: 59px;
        @include lg-d {
            width: 650px;
        }
        @include sm-d {
            width: 275px;
            font-size: 32px;
        }
    }

    &__subttl {
        width: 501px;
        color: $black;
        @include basicFont;
        margin-bottom: 79px;
        @include md-d {
            width: 89%;
        }
    }

    // .about-us__photo-galary

    &__photo-galary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
    }

    // .about-us__item

    &__item {
        @include lg-d {
            margin-right: 54px;
        }
        @include md-d {
            width: 275px;
        }
    }
    
    // .about-us__img
    
    &__img {
        margin-bottom: 24px;
        @include md-d {
            width: 275px;
        }
    }

    // .about-us__eployee-name

    &__eployee-name {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 18px;
        color: $black;
    }

    // .about-us__eployee-social-media

    &__eployee-social-media {
        @include basicFont;
        font-size: 18px;
    }
}
.about-us__photo-galary-btns {
    position: absolute;
    right: 0;
}

// footer

footer {
    background-color: $black;
    height: 521px;
    width: 100%;
}

.footer {

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 64px 0px 47px;
        border-bottom: 1px solid #363636;
        margin-bottom: 22px;
    }
    
    &__block {
        height: 312px;
        padding-left: 42px;
        border-left: 1px solid;
        border-image: linear-gradient(270deg, #212121 0%, #535353 51.04%, #212121 100%) 72;
    }
    &__block:first-child {
        border: 0;
        padding: 0;
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__list {
        list-style-type: none;
        flex-direction: column;
        align-items: flex-start;
    }

    &__list-item {
        margin-bottom: 16px;
    }

    &__link {
        @include basicFont;
        color: #BABABA;
    }

    // .footer__mail-link
    &__make-subscribe {
        width: 335px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__mail-link {
        @include sliderCartFont;
        font-size: 16px;
        color: #BABABA;
    }

    // .footer__btn

    &__btn {
        @include basicFont;
        font-size: 14px;
        color: #fff;
        padding: 9px 34px 10px;
        border: 1px solid #fff;
        border-radius: .33em;
        background-color: inherit;
        margin-bottom: 16px;
        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    // .footer__galary

    &__galary {
        display: grid;
        grid-template-columns: repeat(3, 106px);
        grid-gap: 8.5px;
    }

    // .footer__img

    &__img {
    }

    // .footer__rils
    &__rils-container {
        width: 308px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 47px;
    }
    &__rils {

    }
    // .footer__rils-container

    &__rils-block {
    }

    // .footer__rils-ttl

    &__rils-ttl {
        width: 227px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 900;
        color: #fff;
        margin-bottom: 6px;
    }

    // .footer__rils-subttl

    &__rils-subttl {
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        color: $gray;
    }

    &__social-ttl {
        font-size: 16px;
        color: #fff;
        margin-bottom: 8px;
    }
    // .footer__number
    
    &__number {
        color: #fff;
        @include sliderCartFont;
        font-size: 20px;
    }
    
    // .footer__work-time
    
    &__work-time {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: $darkgrey;
        margin-bottom: 34px;
    }
    
    // .footer__mail-info
    
    &__mail-info {
        width: 187px;
        display: flex;
        align-items: center;
        color: #fff;
        @include basicFont;
        margin-bottom: 12px;
    }

    &__svg {
        margin-right: 8px;
    }
}

.footer__make-subscribe {
}
.send-application {

    // .send-application__contacts

    &__contacts {
    }

    // .send-application__ttl

    &__ttl {
    }
}

.social-media {

    // .social-media__link

    &__link {
    }
}
.social-img {
}
