.day-two {
    position: relative;
    &__ttl {
        color: $black;
        @include sliderCartFont;
        font-size: 40px;
        width: 856px;
        margin-bottom: 48px;
        @include md-d {
            width: auto;
            font-size: 24px;
        }
    }
    
    &__subttls {
        @include sm-d {
            font-size: 24px;
            width: 275px;
        }
    }
    
    &__subttl {
        color: $black;
        margin-bottom: 20px;
        width: 548px;
        text-align: justify;
        @include basicFont;
        @include md-d {
            width: 400px;
        }
        @include sm-d {
            width: 275px;
        }
    }
}
.volcan {
    position: absolute;
    right: 0;
    top: -110px;
    z-index: -5;
    @include lg-d {
        width: 57%;
        top: 0;
    }
    @include md-d {
        top: 135px;
    }
    @include sm-d {
        display: none;
    }
}
.day-two__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include xl-d {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
.day-two-galery {
    align-items: flex-end;
    @include md-d {
        align-items: flex-start;
    }
    &__description {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
        @include sm-d {
            align-items: flex-start;
        }
    }
}
.day-two {

    &__description-paragraph {
        @include basicFont;
        color: $black;
        margin-bottom: 20px;
        width: 478px;
        text-align: justify;
    }
}
