.day-two {
    position: relative;
    &__ttl {
        color: $black;
        @include sliderCartFont;
        font-size: 40px;
        width: 856px;
        margin-bottom: 48px;
    }
    
    &__subttls {
        
    }
    
    &__subttl {
        color: $black;
        margin-bottom: 20px;
        width: 548px;
        text-align: justify;
        @include basicFont;
    }
}
.volcan {
    position: absolute;
    right: 0;
    top: -110px;
    z-index: -5;
}
.day-two__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.day-two-galery {

    &__description {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
    }
}
.day-two {

    &__description-paragraph {
        @include basicFont;
        color: $black;
        margin-bottom: 20px;
        width: 478px;
        text-align: justify;
    }
}
