.day-one {
    background:linear-gradient(180deg, #000000 7.21%, rgba(0, 0, 0, 0.31) 68.74%, rgba(0, 0, 0, 0) 100%), url(/src/images/dayonebackground.png);
    background-size:cover;
    height: 823px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 230px;
    @include xl-d {
        height: 1000px;
    }
    @include sm-d {
        margin-bottom: 60px;
    }
}
.day-one-innner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    @include xl-d {
        flex-direction: column;
        align-items: flex-start;
    }
}
.day-one {
    &__ttl {
        color: #fff;
        @include sliderCartFont;
        font-size: 40px;
        width: 458px;
        margin-bottom: 48px;
        @include md-d {
            font-size: 24px;
            width: 280px;
        }
    }

    &__paragraph {
        color: $gray;
        margin-bottom: 20px;
        width: 461px;
        text-align: justify;
        @include basicFont; color: $gray;
        margin-bottom: 20px;
        width: 461px;
        text-align: justify;
        @include basicFont;
        @include md-d {
            width: 282px;
        }
    }
}

.day-one-galery,
.day-two-galery {
    height: 400px;
}
.day-one__photo-slider {
    background-image: none;
    height: auto;
    width: 760px;
    overflow: hidden;
}
.day-one__slider__item {
    transition-duration: .45s;
    position: relative;
    height: 267px;
}

.village-link {
    color: $gray;
    text-decoration: underline;
}
.slider__photo-img {
    width: 269px;
    height: 267px;
}
.days-slider__inner-ttl {
    width: 280px;
    position: absolute;
    left: 16px;
    bottom: 75px;
    @include basicFont;
    font-size: 15px;
    color: #fff;
}
.slider__inner-subttl {
    position: absolute;
    @include basicFont;
    color: $gray;
    width: 288px;
    bottom: 19px;
    left: 17px;
}
.clouds {
    width: 100%;
    height: 397px;
    position: absolute;
    bottom: -230px;
    @include md-d {
        height: 150px;
        bottom: -92px;
    }
}