.day-three-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
.day-three__ttl {
    width: 505px;
}
.day-three__subttl {
    width: 501px;
}
.day-three__background-img {
    width: 100%;
    margin-top: -20px;
}